[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"
python-dotenv = "*"
backoff ="*"
schedule = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3"
